In [49]:
import pandas as pd
from sklearn.linear_model import Ridge
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction import DictVectorizer
from scipy.sparse import hstack

In [40]:
train = pd.read_csv('salary-train.csv')
test = pd.read_csv('salary-test-mini.csv')

In [41]:
train.head(2)

,FullDescription,LocationNormalized,ContractTime,SalaryNormalized
0,International Sales Manager London ****k ****...,London,permanent,33000
1,An ideal opportunity for an individual that ha...,London,permanent,50000

In [42]:
test.head(2)

,FullDescription,LocationNormalized,ContractTime,SalaryNormalized
0,We currently have a vacancy for an HR Project ...,Milton Keynes,contract,NaN
1,A Web developer opportunity has arisen with an...,Manchester,permanent,NaN

In [43]:
train['FullDescription'] = train['FullDescription'].str.lower()
train['FullDescription'] = train['FullDescription'].replace('[^a-zA-Z0-9]', ' ', regex = True)
train['FullDescription'].head(2)

0    international sales manager london     k      ...
1    an ideal opportunity for an individual that ha...
Name: FullDescription, dtype: object

In [44]:
test['FullDescription'] = test['FullDescription'].str.lower()
test['FullDescription'] = test['FullDescription'].replace('[^a-zA-Z0-9]', ' ', regex = True)
test['FullDescription'].head(2)

0    we currently have a vacancy for an hr project ...
1    a web developer opportunity has arisen with an...
Name: FullDescription, dtype: object

In [45]:
vectorize = TfidfVectorizer(min_df = 5)

In [46]:
tfid_train = vectorize.fit_transform(train['FullDescription'])
tfid_test = vectorize.transform(test['FullDescription'])

In [47]:
train['LocationNormalized'].fillna('nan', inplace = True)
train['ContractTime'].fillna('nan', inplace = True)

test['LocationNormalized'].fillna('nan', inplace = True)
test['ContractTime'].fillna('nan', inplace = True)

In [48]:
enc = DictVectorizer()
enc_train = dic.fit_transform(train[['LocationNormalized', 'ContractTime']].to_dict('records'))
enc_test = dic.transform(test[['LocationNormalized', 'ContractTime']].to_dict('records'))

In [59]:
X_train = hstack([tfid_train, enc_train])
X_test = hstack([tfid_test, enc_test])
y=train['SalaryNormalized']

In [58]:
reg = Ridge(random_state = 241, alpha = 1)

In [60]:
reg.fit(X_train, y)

Ridge(alpha=1, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=241, solver='auto', tol=0.001)

In [62]:
prediction = reg.predict(X_test)

In [63]:
prediction

array([ 56555.61500155,  37188.32442618])

In [65]:
with open("Solution/Assignment_1_1.txt", "w") as text_file:
    print('56555.61 37188.32', file=text_file)