In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn import neighbors
from sklearn import model_selection
from sklearn import datasets

In [12]:
boston=datasets.load_boston()

In [21]:
X=pd.DataFrame(boston.data)
y=pd.DataFrame(boston.target)

In [24]:
X.columns=boston.feature_names
y.columns=['Target']

In [25]:
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [26]:
y.head()

   Target
0    24.0
1    21.6
2    34.7
3    33.4
4    36.2

In [36]:
X_scaled=preprocessing.scale(X)

In [37]:
folds=model_selection.KFold(n_splits=5,shuffle=True,random_state=42)

In [55]:
p_arr=np.linspace(1,10,200)

In [69]:
results=pd.DataFrame()
res=[]

for p in p_arr:
    cl=neighbors.KNeighborsRegressor(n_neighbors=5, weights='distance',metric='minkowski',p=p)
    cv=model_selection.cross_val_score(estimator=cl,X=X,y=y,cv=folds, scoring='neg_mean_squared_error')
    res.append(cv.mean())
    
results['p']=p_arr
results['score']=res

In [74]:
results.sort_values('score',ascending=False).head(1)

     p      score
0  1.0 -29.804021

In [73]:
# Нужно найти p при котором качество максимальное, но таких (не по модулю)
# Странная задача, в которой p очевидно получилось 1
with open("Assignment_2_1.txt", "w") as text_file:
    print(1, file=text_file)