In [1]:
import pandas as pd
import numpy as np
from scipy import stats

In [2]:
data=pd.read_csv('titanic.csv',index_col='PassengerId')
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
# 1
data['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [50]:
with open("1.txt", "w") as text_file:
    print(f"577 314", file=text_file)

In [40]:
# 2
data['Survived'].sum()/data['Survived'].count()*100

38.383838383838381

In [41]:
with open("2.txt", "w") as text_file:
    print(f"38.38", file=text_file)

In [42]:
# 3
data['Pclass'][data['Pclass']==1].count()/data['Pclass'].count()*100

24.242424242424242

In [43]:
with open("3.txt", "w") as text_file:
    print(f"24.24", file=text_file)

In [46]:
# 4
print(data['Age'].mean(),data['Age'].median())

29.69911764705882 28.0

In [49]:
with open("4.txt", "w") as text_file:
    print(f"29.69 28.00", file=text_file)

In [31]:
# 5
corr=stats.pearsonr(data['SibSp'],data['Parch'])
print(corr)

(0.41483769862015613, 2.2418236681398336e-38)

In [39]:
with open("5.txt", "w") as text_file:
    print(f"0.41", file=text_file)

In [34]:
data.corr()

          Survived    Pclass       Age     SibSp     Parch      Fare
Survived  1.000000 -0.338481 -0.077221 -0.035322  0.081629  0.257307
Pclass   -0.338481  1.000000 -0.369226  0.083081  0.018443 -0.549500
Age      -0.077221 -0.369226  1.000000 -0.308247 -0.189119  0.096067
SibSp    -0.035322  0.083081 -0.308247  1.000000  0.414838  0.159651
Parch     0.081629  0.018443 -0.189119  0.414838  1.000000  0.216225
Fare      0.257307 -0.549500  0.096067  0.159651  0.216225  1.000000

In [33]:
# 6
df=data['Name'][data['Sex']=='female'].apply(lambda x: x.split(',')[1].split('.')[1])

In [50]:
df[:1].apply(lambda x: x.split('(')[1].split(' ')[0])

PassengerId
2    Florence
Name: Name, dtype: object

In [113]:
names=[]

for name in df:
    if name.find('(')==-1:
        names.append(name.strip().split(' ')[0])
    else:
        names.append(name.split('(')[1].split(' ')[0].strip())

In [100]:
n=pd.DataFrame(names)

In [57]:
df[:1].str.find('(')

PassengerId
2    14
Name: Name, dtype: int64

In [112]:
n[0].value_counts()[:1]

Anna    14
Name: 0, dtype: int64

In [109]:
with open("6.txt", "w") as text_file:
    print("Anna", file=text_file)